body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 90%;
  overflow: auto;
  margin:auto
}

@media all and (max-width: 1311px) {
  .title {
    display: block;
    margin-left: 0;
    width: 100%;

  }
}